In [2]:
import pandas as pd

In [3]:
okt = pd.read_csv("2019-Oct-sample.csv")
nop = pd.read_csv("2019-Nov-sample.csv")

In [4]:
okt.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,8,2019-10-01 00:00:10 UTC,view,28719074,2053013565480109009,apparel.shoes.keds,baden,102.71,520571932,ac1cd4e5-a3ce-4224-a2d7-ff660a105880
1,17,2019-10-01 00:00:18 UTC,view,10900029,2053013555069845885,appliances.kitchen.mixer,bosch,58.95,519528062,901b9e3c-3f8f-4147-a442-c25d5c5ed332
2,91,2019-10-01 00:01:17 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,515757896,4938043e-e50f-44ad-944d-958d04df62d6
3,101,2019-10-01 00:01:29 UTC,view,1801551,2053013554415534427,electronics.video.tv,haier,463.31,515511944,d63ef339-2d6a-411a-95bd-d58c77ae6e4f
4,103,2019-10-01 00:01:30 UTC,view,3900930,2053013552326770905,appliances.environment.water_heater,teploross,90.32,555444559,98b88fa0-d8fa-4b9d-8a71-3dd403afab85

In [5]:
nop.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,38,2019-11-01 00:00:13 UTC,view,3701016,2053013565983425517,appliances.environment.vacuum,tefal,108.09,566278257,5cafe67a-3c46-4b47-a46a-ab30de4356bc
1,52,2019-11-01 00:00:17 UTC,view,43200121,2146660887346282824,apparel.tshirt,goodloot,8.73,566175330,680fb144-6940-4931-85e6-16dda8d4e2d5
2,114,2019-11-01 00:00:42 UTC,view,2700598,2053013563911439225,appliances.kitchen.refrigerators,indesit,314.08,539701280,a9e5a322-c765-d52d-b382-07af17908468
3,239,2019-11-01 00:01:37 UTC,view,1307519,2053013558920217191,computers.notebook,acer,1209.55,536638900,e1e8125d-da26-49ee-a6fa-78b3ff8dc341
4,241,2019-11-01 00:01:37 UTC,view,1005116,2053013555631882655,electronics.smartphone,apple,1013.86,532647354,d2d3d2c6-631d-489e-9fb5-06f340b85be0

In [6]:
frames=[okt,nop]
result=pd.concat(frames).drop_duplicates().reset_index(drop=True)

In [7]:
result.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,8,2019-10-01 00:00:10 UTC,view,28719074,2053013565480109009,apparel.shoes.keds,baden,102.71,520571932,ac1cd4e5-a3ce-4224-a2d7-ff660a105880
1,17,2019-10-01 00:00:18 UTC,view,10900029,2053013555069845885,appliances.kitchen.mixer,bosch,58.95,519528062,901b9e3c-3f8f-4147-a442-c25d5c5ed332
2,91,2019-10-01 00:01:17 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,515757896,4938043e-e50f-44ad-944d-958d04df62d6
3,101,2019-10-01 00:01:29 UTC,view,1801551,2053013554415534427,electronics.video.tv,haier,463.31,515511944,d63ef339-2d6a-411a-95bd-d58c77ae6e4f
4,103,2019-10-01 00:01:30 UTC,view,3900930,2053013552326770905,appliances.environment.water_heater,teploross,90.32,555444559,98b88fa0-d8fa-4b9d-8a71-3dd403afab85

In [8]:
z=result[['product_id','category_id','category_code','brand','price']]
z

,product_id,category_id,category_code,brand,price
0,28719074,2053013565480109009,apparel.shoes.keds,baden,102.71
1,10900029,2053013555069845885,appliances.kitchen.mixer,bosch,58.95
2,1004856,2053013555631882655,electronics.smartphone,samsung,130.76
3,1801551,2053013554415534427,electronics.video.tv,haier,463.31
4,3900930,2053013552326770905,appliances.environment.water_heater,teploross,90.32
...,...,...,...,...,...
3963804,1005135,2053013555631882655,electronics.smartphone,apple,1634.38
3963805,5701194,2053013553970938175,auto.accessories.player,imx,239.39
3963806,4803878,2053013554658804075,electronics.audio.headphone,xiaomi,48.88
3963807,6000094,2053013560807654091,auto.accessories.alarm,starline,127.42
3963808,3701309,2053013565983425517,appliances.environment.vacuum,polaris,89.32

In [9]:
filter=result.loc[result["event_type"]=='purchase']
filter

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
74,1811,2019-10-01 02:20:11 UTC,purchase,4804055,2053013554658804075,electronics.audio.headphone,apple,189.91,517129864,df8afa49-66e0-4e54-b9ca-4be6de5c9a0f
113,2798,2019-10-01 02:23:05 UTC,purchase,4802157,2053013554658804075,electronics.audio.headphone,jbl,20.57,522702221,96e885ab-4ae7-487c-a46b-1ef8bb477517
219,4959,2019-10-01 02:28:09 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543356214,cc27a71b-006f-4028-ad60-46cf26ab06af
233,5210,2019-10-01 02:28:40 UTC,purchase,1005104,2053013555631882655,electronics.smartphone,apple,975.57,552408931,e8b95f1a-5f87-40ab-b75a-40942d5a1726
250,5654,2019-10-01 02:29:32 UTC,purchase,8800448,2053013555573162395,electronics.telephone,nokia,43.66,518494067,521e7934-57af-49c6-a96f-b1b4676b7d39
...,...,...,...,...,...,...,...,...,...,...
3963602,67495403,2019-11-30 23:19:17 UTC,purchase,1004857,2053013555631882655,electronics.smartphone,samsung,124.05,569759529,aae0c70b-f436-4e23-b6d6-d3fc1c8276c2
3963621,67496006,2019-11-30 23:22:45 UTC,purchase,1004565,2053013555631882655,electronics.smartphone,huawei,163.39,579957748,8d1e0711-1d15-40d6-9fa5-a660d168d95d
3963633,67496232,2019-11-30 23:24:09 UTC,purchase,1004566,2053013555631882655,electronics.smartphone,huawei,162.71,575608328,0f766b3a-e71c-4402-b011-7419071eb8f4
3963700,67498445,2019-11-30 23:38:13 UTC,purchase,1004650,2053013555631882655,electronics.smartphone,samsung,607.43,562522539,e34f5eec-8777-48da-b034-dcdd5b042a7d
3963736,67499872,2019-11-30 23:46:13 UTC,purchase,4804056,2053013554658804075,electronics.audio.headphone,apple,160.87,573127657,7147419e-399e-4d15-87e8-811bd588f44c

In [10]:
filter[['category','productnm','product_name']]=filter.category_code.str.split(".",expand=True)

ValueError: Columns must be same length as key